@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

header{
 font-family: 'Kosugi Maru', sans-serif;
 background-color:#ffccff;
 text-align:center;
 color:white;
 padding:40px;
}
#align {
 font-family: 'Kosugi Maru', sans-serif;
 width:300px;
 font-size:4rem;
 margin:auto;
}
