@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Lemonada:wght@500&display=swap');


.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-decoration:none;
}


.success {
  border-color: #4CAF50;
  color: green;
}

.succes:hover {
 background-color:#4CAF50;
 color:white;
}

header {
 color:white;
 text-align:center;
 background-color:#474e5d;
 padding:45px;
  font-family: 'Kosugi Maru', sans-serif;
font-family: 'Lemonada', cursive;
}

#align {
 width:300px;
 margin:auto;
}
